
body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
  }

  a {
    color: #47b2e4;
    text-decoration: none;
  }

  a:hover {
    color: #73c5eb;
    text-decoration: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Jost", sans-serif;
  }

  section {
    padding: 60px 0;
    overflow: hidden;
  }

  .section-bg {
    background-color: #f3f5fa;
  }

  .section-title {
    text-align: center;
    padding-bottom: 30px;
  }

  .section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    color: #000000;
  }

  .shadow{
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
    padding: 20px;
    background: #fff;
    border-radius: 10px;
  }


  .form__group {
    position: relative;
    padding: 15px 70px 0;
    margin-top: 10px;

  }

  .form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid #000000;
    outline: 0;
    font-size: 1.3rem;
    color: #000000;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
  }
  .form__field::placeholder {
    color: transparent;
  }


  .form__field:placeholder-shown ~ .form__label {
    font-size: 1.2rem;
    cursor: text;
    top: 20px;
  }

  .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1.3rem;
    color: #000000;
  }


  .form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #000000;
    font-weight: 700;
  }

  /* reset input */
  .form__field:required, .form__field:invalid {
    box-shadow: none;
  }


  .contact .php-email-form button[type=submit] {
    background: #AF3065;
    border: 0;
    padding: 12px 34px;
    color: #fff;
    transition: 0.4s;
    border-radius: 0px;
  }

  .contact .php-email-form button[type=submit]:hover {
    background: #d8208e;
  }

