<main>
    <div class="d-lg-none d-md-block"><br><br><br></div>
    <div class="pagetitle">
      <h1>View Project Owner</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->



    <button type="button" class="btn p-2 border pe-3 me-3 register" routerLink="/admin/add-projectowner">
      <i class="bi bi-plus fa-2xl me-3"></i>Add New
    </button>
    <br>
    <br>
    <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example" [(ngModel)]="selectedStatus" (change)="onStatusChange()">
      <option value="" selected>All</option>
      <option value="true">Approved</option>
      <option value="false">Not Approved</option>
    </select>
    <div class="data_table card1 mt-4 " style="overflow-y: scroll; height:600px;">

        <table class="table align-middle mb-0 bg-white  ">
          <thead class="bg-light ">
            <tr >
              <th>#</th>
              <th>Last Name</th>
              <th>First Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Linkedin</th>
              <th>Github</th>

            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let owner of projectOwners">
              <td>
                <div class="d-flex align-items-center">
                  <img src="../../../../../assets/projectOwner/{{ owner.image }}" style="width: 45px; height: 45px"
                    class="rounded-circle" />
                  <a routerLink="profile">
                    <div class="ms-3">
                      <p class="fw-bold mb-1"></p>
                      <p class="text-muted mb-0"></p>

                    </div>
                  </a>
                </div>
              </td>

              <td>
                <p class="text-muted mb-0">{{ owner.nom }}</p>
              </td>
              <td>
                <p class="fw-normal mb-1">{{ owner.prenom }}</p>
              </td>
              <td>
                <div >
                  <p  class="fw-normal mb-1">{{ owner.email }}</p>
                </div>
              </td>
              <td>
                <div >
                  <p  class="fw-normal mb-1">{{ owner.numtel }}</p>
                </div>
                <td>
                  <div >
                    <p  class="fw-normal mb-1">{{ owner.linkedin ? owner.linkedin : '_'  }}</p>
                  </div>
                </td> <td>
                  <div >
                    <p class="fw-normal mb-1">{{ owner.github ? owner.github : '_' }}</p>
                  </div>
                </td>
                <td>      {{ owner.status  ? 'Approved' : 'Not Approved' }}    </td>

                <td>

                  <div class="form-check form-switch">
                      <input *ngIf="!owner.status" [disabled]="isUpdating" (click)="updateComplaintAndSendEmail(owner)"   (click)="onCheckboxClick($event)"class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                      <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                    </div>
              </td>

                <td>
                  <div class="d-flex justify-content-between">
                    <button class="btn btn-danger btn-circle" (click)="deleteEvents(owner.id)">
                      <span class="bi bi-trash"></span>
                    </button>
                    <button class="btn btn-info btn-circle" (click)="updateEvent(owner.id)">
                      <span class="bi bi-pencil-square"></span>
                    </button>

                  </div>
                </td>











            </tr>
            <tr *ngIf="projectOwners?.length == 0">
              <td colspan="7" class="text-center">No client projects found</td>
            </tr>
          </tbody>

        </table>
      </div>


  </main><!-- End #main -->
