<section id="skills" class="skills mb-5">
    <div class="container" data-aos="fade-up">
    
      <div class="row">
        <div class="col-lg-6 photo" data-aos="fade-right" data-aos-delay="100">
          <img src="assets/img/about.png" class="img-fluid" alt="">
        </div>
        <div class="mt-5 col-lg-6  pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
          <h3 class="mt-5">What is our differences</h3>
          <p class=" mt-5">
            Provides you with the latest online learning system and material that help your knowledge growingProvides you with the latest online learning system and material that help your knowledge growing
          </p>
    
          <div class="row mt-5" data-aos="zoom-in">
    
            <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="assets/img/icons/2.png" class="img-fluid" alt="">
            </div>
    
            <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="assets/img/icons/1.png" class="img-fluid" alt="">
            </div>
    
            <div class="col-lg-3 col-md-4 col-6 d-flex align-items-center justify-content-center">
              <img src="assets/img/icons/3.png" class="img-fluid" alt="">
            </div>
    
          </div>
    
        </div>
      </div>
    
    </div>
    </section><!-- End Skills Section -->
