:root {
  scroll-behavior: smooth;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 300px;
  }
}
a {
  color: #01130b;
  text-decoration: none;

}
.info{
  background-color: #E9F5FE;
  padding: 20px;
  border-radius: 15px;
}

a:hover {
  color: #AF3065;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}
.filter {
  background-color: #ffffff;
  color: #444444;
  border-radius: 5px;
}
/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.pagetitle {
  margin-bottom: 10px;
}

.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #000000;
}
main {
  font-family: "Open Sans", sans-serif;
  background: #f5f7f9;
  color: #444444;
  height: 100%;
}

  /* Breadcrumbs */
  .breadcrumb {
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    color: #899bbd;
    font-weight: 600;
  }

  .breadcrumb a {
    color: #899bbd;
    transition: 0.3s;
  }

  .breadcrumb a:hover {
    color: #51678f;
  }

  .breadcrumb .breadcrumb-item::before {
    color: #899bbd;
  }

  .breadcrumb .active {
    color: #51678f;
    font-weight: 600;
  }
  #divChart{

    display: block;
    width: 200px;
    height: 190px;
}
.button1 {
  background-color: #fab555;
}
.button1:hover {
  background-color: #ffc575;
}
/* Breadcrumbs */
.breadcrumb {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #899bbd;
  font-weight: 600;
}

.breadcrumb a {
  color: #899bbd;
  transition: 0.3s;
}

.breadcrumb a:hover {
  color: #51678f;
}

.breadcrumb .breadcrumb-item::before {
  color: #899bbd;
}

.breadcrumb .active {
  color: #51678f;
  font-weight: 600;
}

.card {
  max-width: 900px;
  margin: 0 auto;
  padding: 10px;
}

li {
  list-style-type: none;
  cursor: pointer;
  margin: 10px 0;
}

li .card:hover {
  border: 1px solid rgb(2, 2, 21);
}

ol {
  padding: 0;
}
.background-green {
  background-color: rgb(9, 196, 9);
  color: #E9F5FE;
  border: none;
}

.background-red {
  background-color: rgb(253, 59, 59);
  color: #E9F5FE;
  border: none;
}
