<main class="gx-5 pt-3">
  <div class="d-lg-none d-md-block"><br><br><br></div>
  <div class="pagetitle">
    <h1>Trainings</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">chapters</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->

  <!-- training section -->
  <div class="container d-flex justify-content-center">
    <div class="card shadow-sm h-100 col-md-6">
      <div class="card-body">
        <h1 class="text-center fw-bold mb-3" style="color: #AF3065;">Add Chapters Program</h1>
        <form>
          <div class="form-group mb-3">
            <label for="categorie">Training</label>
            <select [(ngModel)]="Formation" name="Formation" class="form-select" id="Formation" aria-label="Default select example">
              <option value="" disabled>Select a Training</option>
              <option *ngFor="let x of tabFormation" [value]="x.id">{{ x.nomFormation }}</option>
            </select>
                      </div>

          <div class="form-group mb-3">
            <label for="name">Name of the Chapter</label>
            <input name="Namechapter"[(ngModel)]="Namechapter" type="text" class="form-control" id="name" placeholder="Web...">
          </div>

          <div class="form-group mb-3">
            <label for="description">Description</label>
            <textarea name="description" [(ngModel)]="description" class="form-control" id="description" rows="3"></textarea>
          </div>
       <!-- show modal when ysir l add popup success -->
           <div class="text-end">
            <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showSuccessModal}">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Success</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="showSuccessModal = false">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>{{ successMessage }}</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="handleOKClick()">OK</button>

                  </div>
                </div>
              </div>
            </div>

            <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
            <button type="button" id="cancel" name="cancel" class="btn btn-light" style="border-radius: 5px;" routerLink="/admin/chapters/list">Cancel</button>
            <button type="button" id="submit" name="submit" class="btn"
              style="background-color: #AF3065; color: white; border-radius: 5px;" (click)="addChapters()">Add Chapter</button>

          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- End training section -->
</main><!-- End #main -->
