<section id="hero" class="d-flex align-items-center " data-aos="fade-up">
    <div class="image-container">
        <img src="assets/img/nosformation.png" class="img-fluid" alt="">
        <!-- <h1 class="image-heading fw-bolder" style="font-size: 32px;">Our Events</h1> -->
    </div>
</section><!-- End Hero -->
<div data-aos="fade-up" class="mt-5 mb-5">
    <div class="section-title mb-5 text-center">
        <h2>Our Events</h2>
        <!-- <h5>Check out our events !</h5> -->
        <!-- <hr> -->
    </div>
    <div class="d-flex justify-content-center pt-3">
        <app-events-list style="width: 600px;"></app-events-list>
    </div>
</div>
