:root {
  scroll-behavior: smooth;
}



@media (min-width: 991.98px) {
  main {
    padding-left: 300px;
  }
}
a {
  color: #01130b;
  text-decoration: none;

}

a:hover {
  color: #AF3065;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {

  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.pagetitle {
  margin-bottom: 10px;
}

.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #000000;
}
.card {
  background: #ffffff;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}

.stat {
  background: linear-gradient(90.21deg, #F2A89D 0.19%, #E585A5 41.65%, #E071A9 79.12%, #BC78C1 99.92%);
  box-shadow: 6px 7px 25px rgba(130, 130, 130, 0.25);
  padding: 50px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}
main {
  font-family: "Open Sans", sans-serif;
  background: #f5f7f9;
  color: #444444;
  height: 100vh;
}

  /* Breadcrumbs */
  .breadcrumb {
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    color: #899bbd;
    font-weight: 600;
  }

  .breadcrumb a {
    color: #899bbd;
    transition: 0.3s;
  }

  .breadcrumb a:hover {
    color: #51678f;
  }

  .breadcrumb .breadcrumb-item::before {
    color: #899bbd;
  }

  .breadcrumb .active {
    color: #51678f;
    font-weight: 600;
  }
  .dropdown-item.mb-3:last-child {
    margin-bottom: 3rem; /* Adjust the value as needed */
  }
  .no-margin-bottom {
    margin-bottom: 0;
  }
/* Custom CSS */
.custom-card {
  height: 200px; /* Adjust the height value as needed */
}

.custom-card .card-body {
  max-height: calc(100% - 40px); /* Adjust the max-height value as needed */
  overflow-y: auto;
}


.Neon {
  font-family: sans-serif;
  font-size: 14px;
  color: #494949;
  position: relative;


}
.Neon * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.Neon-input-dragDrop {
  display: block;
  width: 343px;
  margin: 0 auto 25px auto;
  padding: 25px;
  color: #8d9499;
  color: #97A1A8;
  background: #fff;
  border: 2px dashed #C8CBCE;
  text-align: center;
  -webkit-transition: box-shadow 0.3s, border-color 0.3s;
  -moz-transition: box-shadow 0.3s, border-color 0.3s;
  transition: box-shadow 0.3s, border-color 0.3s;
}
.Neon-input-dragDrop .Neon-input-icon {
  font-size: 48px;
  margin-top: -10px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.Neon-input-text h3 {
  margin: 0;
  font-size: 18px;
}
.Neon-input-text span {
  font-size: 12px;
}
.Neon-input-choose-btn.blue {
  color: #1b1d1e;
  border: 1px solid #131415;
}
.Neon-input-choose-btn {
  display: inline-block;
  padding: 8px 14px;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  font-size: 12px;
  font-weight: bold;
  color: #8d9496;
  border-radius: 3px;
  border: 1px solid #c6c6c6;
  vertical-align: middle;
  background-color: #fff;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.05);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

