:root {
  scroll-behavior: smooth;
}

main {

  padding: 20px 30px;
  transition: all 0.3s;
}


@media (min-width: 991.98px) {
  main {
    padding-left: 340px;
    
  }
}
a {
  color: #01130b;
  text-decoration: none;

}

a:hover {
  color: #AF3065;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/



/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.pagetitle {
  margin-bottom: 10px;
}

.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #000000;
}
.card {
  background: #ffffff;
  padding: 0px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}
.card1 {
  background: #ffffff;
  padding: 0px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
 
}
.stat {
  background: linear-gradient(90.21deg, #F2A89D 0.19%, #E585A5 41.65%, #E071A9 79.12%, #BC78C1 99.92%);
  box-shadow: 6px 7px 25px rgba(130, 130, 130, 0.25);
  padding: 50px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}
main {
  font-family: "Open Sans", sans-serif;
  background: #f5f7f9;
  color: #444444;
  height: 100%;
}

  /* Breadcrumbs */
  .breadcrumb {
    font-size: 14px;
    font-family: "Nunito", sans-serif;
    color: #899bbd;
    font-weight: 600;
  }
  
  .breadcrumb a {
    color: #899bbd;
    transition: 0.3s;
  }
  
  .breadcrumb a:hover {
    color: #51678f;
  }
  
  .breadcrumb .breadcrumb-item::before {
    color: #899bbd;
  }
  
  .breadcrumb .active {
    color: #51678f;
    font-weight: 600;
  }

.form__group {
  position: relative;
  padding: 15px 0px 0;
  margin-top: 10px;

}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #383838;
  outline: 0;
  font-size: 1.3rem;
  color: #595959;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}


.form__field:placeholder-shown ~ .form__label {
  font-size: 1.2rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1.3rem;
  color: #505050;
}


.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #000000;
  font-weight: 700;
}
.register{
  background-color: #AF3065;
  color: #ffffff;
  border-radius: 5px;
}
.register:hover{
  background-color:#d8208e ;
  color: #ffffff;
}










.toggle-button-cover
{
    display: table-cell;
    position: relative;
    width: 200px;
    height: 140px;
    box-sizing: border-box;
}

.button-cover
{
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #ffffff;
    border-radius: 4px;
}

.button-cover:before
{
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #ffffff;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover, .knobs, .layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button
{
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.button.r, .button.r .layer
{
    border-radius: 100px;
}

.button.b2
{
    border-radius: 2px;
}

.checkbox
{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 100%;
    background-color: #ffffff;
    transition: 0.3s ease all;
    z-index: 1;
}


/* Button 12 */
#button-12 .knobs:before, #button-12 .knobs:after, #button-12 .knobs span, #button-12 .knobs span:before, #button-12 .knobs span:after
{
  position: absolute;
  top: 4px;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  border-radius: 2px;
  transition: 0.3s ease all;
}

#button-12 .knobs:before
{
  content: 'YES';
  left: 4px;
}

#button-12 .knobs:after
{
  content: 'NO';
  right: 4px;
}

#button-12 .knobs:before, #button-12 .knobs:after
{
  width: 27px;
  height: 10px;
  color: #4e4e4e;
  padding: 9px 3px;
  z-index: 1;
}

#button-12 .knobs span
{
  display: inline-block;
  z-index: 2;
}

#button-12 .knobs span, #button-12 .knobs span:before, #button-12 .knobs span:after
{
  width: 40px;
  height: 20px;
  padding: 80px 0px;
}

#button-12 .knobs span:before, #button-12 .knobs span:after
{
  content: '';
  top: 0;
}

#button-12 .knobs span:before
{
  left: -40px;
  background-color: #F44336;
}

#button-12 .knobs span:after
{
  right: -30px;
  background-color: #00A066;
}
/* specificproject-details.component.css */
.project-title {
text-decoration: underline;
}

#button-12 .checkbox:checked + .knobs span:before
{
  left:4px;
}

#button-12 .checkbox:checked + .knobs span:after
{
  right: -74px;
}
.btn-circle {
border-radius: 50%;
width: 30px;
height: 30px;
padding: 0;
display: flex;
justify-content: center;
align-items: center;
}







