<main id="main">
  <div class="d-lg-none d-md-block"><br><br><br></div>

  <div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="container d-flex justify-content-center">
      <div class="card shadow-sm h-100 col-md-6">
        <div class="card-body">
          <h1 class="text-center fw-bold mb-3" style="color: #AF3065;">Add Hackerspaces</h1>

          <form [formGroup]="HackerForm">
            <div class="form-group mb-3">
              <label for="exampleFormControlInput1">Region</label>
              <input formControlName="region" type="text" class="form-control" id="exampleFormControlInput1"
                placeholder="Region...">
            </div>

            <div class="form-group mb-3">
              <label for="exampleFormControlInput1">Location</label>
              <input formControlName="location" type="text" class="form-control" id="exampleFormControlInput1"
                placeholder="Location...">
            </div>

            <div class="form-group mb-3">
              <label for="exampleFormControlInput1">Address</label>
              <input formControlName="adresse" type="text" class="form-control" id="exampleFormControlInput1"
                placeholder="Address...">
            </div>

            <div class="form-group mb-3">
              <label for="exampleFormControlInput1">Mail</label>
              <input formControlName="email" type="email" class="form-control" id="exampleFormControlInput2"
                placeholder="">
              <div *ngIf="HackerForm.get('email')?.dirty && HackerForm.get('email')?.errors?.['email']"
                class="alert alert-danger mt-3">
                Invalid email address
              </div>
            </div>

            <div class="form-group mb-3">
              <label for="exampleFormControlInput1">Phone</label>
              <input formControlName="phone" type="number" class="form-control" id="exampleFormControlInput3"
                placeholder="">
              <div *ngIf="HackerForm.get('phone')?.dirty && !isValidPhoneNumber(HackerForm.get('phone')?.value)"
                class="alert alert-danger mt-3">
                Invalid phone number
              </div>
            </div>

            <div class="form-group mb-3">
              <label for="exampleFormControlTextarea1">Description</label>
              <textarea formControlName="description" class="form-control" id="exampleFormControlTextarea1"
                rows="3"></textarea>
            </div>

            <div class="Neon Neon-theme-dragdropbox mt-4">
              <input (change)="onFileSelected($event)"
                style="z-index: 999; opacity: 0; width: 320px; height: 200px; position: absolute; right: 0px; left: 0px; margin-right: auto; margin-left: auto;"
                id="filer_input2" type="file"  accept="image/*">

              <div class="Neon-input-dragDrop">
                <div class="Neon-input-inner">
                  <div class="Neon-input-icon">
                    <i class="fa fa-file-image-o"></i>
                  </div>
                  <div class="Neon-input-text">
                    <h3>Drag&amp;Drop files here</h3>
                  </div>
                  <div class="Neon-input-btn">

                  </div>
                </div>
              </div>
            </div>

            <div class="d-flex justify-content-end">





              <div class="modal" tabindex="-1" role="dialog" [ngClass]="{'d-block': showSuccessModal}">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Success</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        (click)="showSuccessModal = false">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>{{ successMessage }}</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" (click)="handleOKClick()">OK</button>

                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="errorMessage" class="alert alert-danger mt-3">{{ errorMessage }}</div>
              <button type="button" (click)="AddHackerspaceForm()" id="submitButton" name="submitButton" class="btn"
                style="background-color: #AF3065; color: white; border-radius: 5px;">Update</button>

            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</main>
