<main class="gx-5 pt-3" >
    <div class="d-lg-none d-md-block"><br><br><br></div>
    <div class="pagetitle">
      <h1>Feedback</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->


    <!-- Feedback section -->
<div class="container">

  <div class="row">
    <div class="col-lg-4 col-md-6 ">
        <div class="card shadow-sm mb-4">
          <div class="row mt-4 mx-2">
            
                  <p class="nav-profile d-flex align-items-center " href="view profile.html" >
                    <img src="assets/img/profile-img.jpg" alt="Profile" width="50px" height="50px" class="rounded-circle">
                    <span class="ps-4 fw-bold">Welcome Back K. Anderson</span> <span class="ps-4">                      
                     </span>
                    </p>
                  <p class="mt-3 text-secondary">Add in 20/20/2020</p>

                  <p class="mt-1 text-secondary">It was ok :</p>
                </div>
          
          <div class="card-body comment " >
            <p class="card-text">The traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfull</p>

          </div>
        </div>
      </div>    <div class="col-lg-4 col-md-6 ">
        <div class="card shadow-sm mb-4">
          <div class="row mt-4 mx-2">
            
                  <p class="nav-profile d-flex align-items-center " href="view profile.html" >
                    <img src="assets/img/profile-img.jpg" alt="Profile" width="50px" height="50px" class="rounded-circle">
                    <span class="ps-4 fw-bold">Welcome Back K. Anderson</span> <span class="ps-4">                      
                     </span>
                    </p>
                  <p class="mt-3 text-secondary">Add in 20/20/2020</p>

                  <p class="mt-1 text-secondary">It was ok :</p>
                </div>
          
          <div class="card-body comment " >
            <p class="card-text">The traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfull</p>

          </div>
        </div>
      </div>    <div class="col-lg-4 col-md-6 ">
        <div class="card shadow-sm mb-4">
          <div class="row mt-4 mx-2">
            
                  <p class="nav-profile d-flex align-items-center " href="view profile.html" >
                    <img src="assets/img/profile-img.jpg" alt="Profile" width="50px" height="50px" class="rounded-circle">
                    <span class="ps-4 fw-bold">Welcome Back K. Anderson</span> <span class="ps-4">                      
                     </span>
                    </p>
                  <p class="mt-3 text-secondary">Add in 20/20/2020</p>

                  <p class="mt-1 text-secondary">It was ok :</p>
                </div>
          
          <div class="card-body comment " >
            <p class="card-text">The traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfull</p>

          </div>
        </div>
      </div>    <div class="col-lg-4 col-md-6 ">
        <div class="card shadow-sm mb-4">
          <div class="row mt-4 mx-2">
            
                  <p class="nav-profile d-flex align-items-center " href="view profile.html" >
                    <img src="assets/img/profile-img.jpg" alt="Profile" width="50px" height="50px" class="rounded-circle">
                    <span class="ps-4 fw-bold">Welcome Back K. Anderson</span> <span class="ps-4">                      
                     </span>
                    </p>
                  <p class="mt-3 text-secondary">Add in 20/20/2020</p>

                  <p class="mt-1 text-secondary">It was ok :</p>
                </div>
          
          <div class="card-body comment " >
            <p class="card-text">The traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfull</p>

          </div>
        </div>
      </div>    <div class="col-lg-4 col-md-6 ">
        <div class="card shadow-sm mb-4">
          <div class="row mt-4 mx-2">
            
                  <p class="nav-profile d-flex align-items-center " href="view profile.html" >
                    <img src="assets/img/profile-img.jpg" alt="Profile" width="50px" height="50px" class="rounded-circle">
                    <span class="ps-4 fw-bold">Welcome Back K. Anderson</span> <span class="ps-4">                      
                     </span>
                    </p>
                  <p class="mt-3 text-secondary">Add in 20/20/2020</p>

                  <p class="mt-1 text-secondary">It was ok :</p>
                </div>
          
          <div class="card-body comment " >
            <p class="card-text">The traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfull</p>

          </div>
        </div>
      </div>    <div class="col-lg-4 col-md-6 ">
        <div class="card shadow-sm mb-4">
          <div class="row mt-4 mx-2">
            
                  <p class="nav-profile d-flex align-items-center " href="view profile.html" >
                    <img src="assets/img/profile-img.jpg" alt="Profile" width="50px" height="50px" class="rounded-circle">
                    <span class="ps-4 fw-bold">Welcome Back K. Anderson</span> <span class="ps-4">                      
                     </span>
                    </p>
                  <p class="mt-3 text-secondary">Add in 20/20/2020</p>

                  <p class="mt-1 text-secondary">It was ok :</p>
                </div>
          
          <div class="card-body comment " >
            <p class="card-text">The traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfull</p>

          </div>
        </div>
      </div>    <div class="col-lg-4 col-md-6 ">
        <div class="card shadow-sm mb-4">
          <div class="row mt-4 mx-2">
            
                  <p class="nav-profile d-flex align-items-center " href="view profile.html" >
                    <img src="assets/img/profile-img.jpg" alt="Profile" width="50px" height="50px" class="rounded-circle">
                    <span class="ps-4 fw-bold">Welcome Back K. Anderson</span> <span class="ps-4">                      
                     </span>
                    </p>
                  <p class="mt-3 text-secondary">Add in 20/20/2020</p>

                  <p class="mt-1 text-secondary">It was ok :</p>
                </div>
          
          <div class="card-body comment " >
            <p class="card-text">The traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfull</p>

          </div>
        </div>
      </div>    <div class="col-lg-4 col-md-6 ">
        <div class="card shadow-sm mb-4">
          <div class="row mt-4 mx-2">
            
                  <p class="nav-profile d-flex align-items-center " href="view profile.html" >
                    <img src="assets/img/profile-img.jpg" alt="Profile" width="50px" height="50px" class="rounded-circle">
                    <span class="ps-4 fw-bold">Welcome Back K. Anderson</span> <span class="ps-4">                      
                     </span>
                    </p>
                  <p class="mt-3 text-secondary">Add in 20/20/2020</p>

                  <p class="mt-1 text-secondary">It was ok :</p>
                </div>
          
          <div class="card-body comment " >
            <p class="card-text">The traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfull</p>

          </div>
        </div>
      </div>    <div class="col-lg-4 col-md-6 ">
        <div class="card shadow-sm mb-4">
          <div class="row mt-4 mx-2">
            
                  <p class="nav-profile d-flex align-items-center " href="view profile.html" >
                    <img src="assets/img/profile-img.jpg" alt="Profile" width="50px" height="50px" class="rounded-circle">
                    <span class="ps-4 fw-bold">Welcome Back K. Anderson</span> <span class="ps-4">                      
                     </span>
                    </p>
                  <p class="mt-3 text-secondary">Add in 20/20/2020</p>

                  <p class="mt-1 text-secondary">It was ok :</p>
                </div>
          
          <div class="card-body comment " >
            <p class="card-text">The traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfullThe traning experience was great the coach
              was so nice and helpfull</p>

          </div>
        </div>
      </div>
  </div>

    </div>
  
    <!-- End Feedback section -->


</main><!-- End #main -->
