<main id="main">
  <div class="d-lg-none d-md-block"><br /><br /><br /></div>

  <div class="pagetitle">
    <h1>Session</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Add Session</li>
      </ol>
    </nav>
  </div>
  <div class="container">
    <div class="details overflow-auto">
      <button class="btn btn-primary add-button" (click)="openSessionDialog()">
        <span><i class="bi bi-plus"></i> Add Session</span>
      </button>
      <p *ngIf="selectedDay" class="date-selected">
        {{ selectedDay }} {{ currentMonth }}
      </p>
      <p *ngIf="!selectedDay" class="date-selected">No date selected</p>
      <div class="session-container">
        <h4>Session Details:</h4>
        <ul style="list-style: none; padding: 0">
          <li *ngFor="let session of sessionDetails" class="session-item">
            <button
              class="btn btn-danger delete-button"
              (click)="deleteSession(session)"
            >
              <i class="bi bi-x"></i>
            </button>

            {{ session.formation.nomFormation }}<br />

            {{ session.sessionName }}<br />
            Start at : {{  adjustDate(session.startDate) | date : "mediumTime" }}<br />
            Duration:
            {{ calculateDuration(session.startDate, session.finishDate) }}

            <div *ngFor="let group of session.groups">
              {{ group.groupName }}
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="calendar">
      <div class="header">
        <button class="btn btn-link prev-btn" (click)="goToPreviousMonth()">
          &lt;
        </button>
        <span class="month">{{ currentMonth }}</span>
        <span class="year">{{ currentYear }}</span>
        <button class="btn btn-link next-btn" (click)="goToNextMonth()">
          &gt;
        </button>
      </div>

      <div class="days-names">
        <div class="day-name" *ngFor="let name of dayNames">{{ name }}</div>
      </div>
      <div class="days">
        <div *ngFor="let day of daysOffset; let i = index" class="day"></div>
        <div
          *ngFor="let day of daysInMonth"
          class="day"
          [class.selected]="day === selectedDay"
          (click)="selectDay(day)"
        >
          <span class="day-number" [class.selected]="day === selectedDay">{{
            day
          }}</span>
        </div>
      </div>
    </div>
  </div>

  <ng-template #sessionDialog>
    <div class="session-dialog">
      <h3>Select Training</h3>
      <select class="form-select" [(ngModel)]="selectedTraining">
        <option *ngFor="let formation of formations" [value]="formation.id">
          {{ formation.nomFormation }}
        </option>
      </select>
      <h3>Name</h3>
      <input
        type="text"
        class="form-control"
        [(ngModel)]="sessionName"
        required
        placeholder="Session name"
      />

      <h3>Description</h3>
      <textarea
        class="form-control"
        [(ngModel)]="sessionDescription"
        required
        placeholder="Session description"
      ></textarea>
      <h3>Session Time</h3>
      <input type="time" class="form-control" [(ngModel)]="sessionTime" />

      <h3>Duration (hours)</h3>
      <input type="number" class="form-control" [(ngModel)]="sessionDuration" />

      <button class="btn btn-primary" (click)="openGroupsDialog()">Next</button>
    </div>
  </ng-template>

  <!-- Groups Dialog -->
  <ng-template #groupsDialog>
    <div class="groups-dialog">
      <h3>Groups for Session with {{ getSelectedTrainingName() }}</h3>
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let group of groups">
          <label class="form-check-label">
            <input
              type="checkbox"
              class="form-check-input"
              [checked]="isGroupSelected(group)"
              (change)="selectGroup(group)"
            />
            {{ group.groupName }}
          </label>
        </li>
      </ul>
      <button class="btn btn-primary" (click)="createSession()">
        Create Session
      </button>
      <button class="btn btn-secondary" (click)="closeGroupsDialog()">
        Close
      </button>
    </div>
  </ng-template>
  <ng-template #removeDialog let-dialogRef="dialogRef" let-session>
    <div class="confirmation-dialog">
      <h2 mat-dialog-title>Confirmation</h2>
      <p>Are you sure you want to delete {{ session.sessionName }}?</p>
      <div class="button-container">
        <button mat-button class="btn-no" (click)="dialogRef.close(false)">
          No
        </button>
        <button mat-button class="btn-yes" (click)="dialogRef.close(true)">
          Yes
        </button>
      </div>
    </div>
  </ng-template>

  <ng-template #confirmationDialog>
    <div class="confirmation-dialog">
      <h3>Confirmation</h3>
      <p>Are you sure you want to add the session today?</p>
      <button class="btn btn-primary" (click)="confirmAddSessionToday()">
        Yes
      </button>
      <button class="btn btn-secondary" (click)="cancelAddSessionToday()">
        No
      </button>
    </div>
  </ng-template>
</main>
