<body >


  <main  >
    <div style="margin-bottom: 50px; " class="d-block d-lg-none"> </div>
    <div class="container pt-4">
      <div class="pagetitle ms-2">
        <h1>Dashboard</h1>
        <nav>
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/student">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </nav>
      </div><!-- End Page Title -->


   <div class="container gx-5">
        <h5 class="fw-bold mb-3">Statics</h5>

      <div class="col-12">
        <div class="row ">
          <div class="col-md-8 d-flex align-items-stretch">

            <div class="row stat mx-1 w-100">
              <div class="col-md-4 image-container">
                <img src="assets/img/progress.png" alt="" class="img-fluid">
              </div>

              <div class="col-md-8 card-text d-flex flex-column justify-content-center">
                <h5 class="text-white fw-bold fs-5 my-4">
                  Here you can track your progress<br>
                  These are the latest statistics for this week
                </h5>
              </div>
            </div>

          </div>

          <div class="col-md-4 card shadow-sm d-flex align-items-center justify-content-center hover" style="cursor: pointer;">
            <p class="fs-1 text-center">{{eventsCount}} <br> <span class="fs-5"> Events upcoming soon</span></p> <img src="assets/img/event.png" alt="" class="mt-3 w-50">
          </div>
        </div>

      <h5 class="fw-bold mt-3 mb-3">Upcoming sessions</h5>
      <ng-container *ngFor="let session of sessions">
        <!-- <ng-container *ngIf="!isSessionExpired(session)"> -->
          <div class="card shadow-sm " >
            <div class="card-body">
              <div class="row " >
               <strong>{{session.sessionName}}</strong>
                <div class="col-md-4 d-flex align-items-center justify-content-center"> <span class="" style="color:#FAB555;">Number of chapters <br><span style="color: black;font-weight: bold;">{{session.formation.chapters.length}} </span></span></div>
                <div class="col-md-4 d-flex align-items-center justify-content-center"> <span class="" style="color:#FAB555;">Training category <br><span style="color: black;font-weight: bold;">{{session.formation.categorie.nomCate}} </span></span></div>
                <div class="col-md-3 d-flex align-items-center justify-content-center"><p><span style="color:#FAB555;">{{convertNumberToMonth(session['startDate'].substring(5,7))}}</span> <span class="fs-2">{{session['startDate'].substring(8,10)}}th</span>
                <br>
                <span class="fw-light"> {{session['startDate'].substring(11,16)}} to {{session['finishDate'].substring(11,16)}}</span></p></div>
              <div class="col-md-3 d-flex align-items-center justify-content-center"><button class="nav-link btn  p-3  text-white fw-bold   fs-6"  routerLink="/student/calendar"> Upcoming session </button></div>
            </div>
            </div>
         </div>
        </ng-container>
      <!-- </ng-container> -->

      <div *ngIf="sessions?.length == 0" class="text-center mt-3 d-flex justify-content-center">
        <div class="nodata" >
          <img src="../../../../../assets/img/nodata.png" width="250px"><br>
          <p style="overflow: hidden;">There are no sessions available.</p>
        </div>
      </div>


  <div class="row bg-white shadow mb-5" style="border-radius:10px;">
  <video id="videoPlayer" controls>
    <source src="assets/img/movierise.mp4" type="video/mp4">
  </video>
  </div></div>

      </div>

      </div>

    </main></body>
