:root {
  scroll-behavior: smooth;
}

main {
  font-family: "Open Sans", sans-serif;
  background: #f5f7f9;
  color: #444444;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 320px;
    padding-top: 20px;

  }
}
a {
  color: #01130b;
  text-decoration: none;

}

a:hover {
  color: #AF3065;
  text-decoration: none;
}
a:active{
  color: #AF3065;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {

  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}
@media (max-width: 991px) {
  .card{
    margin-top: 100px;
  }
  .row-card{
    width: 100%;
  }
}
.post:hover{
  background-color: #E8EAED;
}

body{margin-top:20px;}

#menu {
  visibility: hidden;
  cursor: pointer;
}

#parent:hover #menu {
    visibility: visible;
}
.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}
