<!-- ======= forgot password Section ======= -->
<section id="forgotpassword" class="forgotpassword" style="margin-top: 140px; margin-bottom: 130px;">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-5 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1 class="text-center">Forgot Your password?</h1>
        <h5 class="text-center mb-3 mt-3">Please enter the E-mail address that is linked with your account</h5>
        <form action="" method="post" role="form" class="php-email-form">
          <div class="form__group field">
            <input [(ngModel)]="emaili" type="input" class="form__field" placeholder="email" name="name" id='name' required />
            <label for="name" class="form__label">Email</label>

          </div>
          <div class="mt-5 text-center">
            <div class="mt-2 text-center" *ngIf="emaili && !isValidEmail(emaili)">
              <p class="text-danger">Invalid email address</p>
            </div>
            <button class="col-lg-5 mt-2 register btn" type="submit" (click)="save()" [disabled]="isLoadingg">
              <span
                *ngIf="isLoadingg"
                class="spinner-border spinner-border-sm"
                role="status"
                aria-hidden="true"
              ></span>

              <span>Next</span>
            </button>

          </div>

        </form>
        <div class="mt-3 text-center" *ngIf="etat">
          <p class="text-danger">{{ msj }}</p>
        </div>
      </div>
      <div class="col-lg-4 order-1 order-lg-2 photo" data-aos="zoom-in" data-aos-delay="200">
        <img src="assets/img/new password.png" class="img-fluid w-75" alt="">
      </div>
    </div>
  </div>
</section><!-- End forgot password -->
