body {
  font-family: Arial, sans-serif;
  background-color: white ;
  padding-top: 80px;
pading:10px;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

}
html {
  scroll-behavior:auto;
}
.container {
  padding-top: 40px;
  border-radius: 20px;
  background-color: rgba(246, 243, 243, 0.4);
  transition: 0.4s;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  max-width: 1500px;
  padding-bottom: 30px;
  box-sizing: border-box;
}




.formation-boxes {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pagination-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;

}

.pagination-button {
  background-color: #af3065;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.pagination-button:hover {
  background-color: #cb4277;
}

.image-container {
  flex: 1;
  max-width: 30%;

}
.animated {
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@-webkit-keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.image-container img {
  max-width: 100%;
  max-height: 50%;
  display: block;
}

.boxes-container {
  flex: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;

}

.box {
  background-color: white;
  padding-top:10px;
  padding-left:10px;
  padding-bottom: 10px;
  width: 35%;
  height: 200px;
  margin: 10px;

  border-radius: 10px;
  transition: transform 0.5s, filter 0.5s, background-color 0.5s;
  transform-style: preserve-3d;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.box.clicked {
 padding: 30px;
  background-color: #af3065;
  transform: scale(1.5) rotateY(180deg);
  z-index: 10;
  width: auto;
  max-width: 30%;
  margin-top: 120px;
  height: auto;

}

.box.blur {
  transform: scale(0.5);
  filter: blur(5px);
  background-color:white;
}
.box.clicked .flip-card-back {

  color: white;
  transform: rotateY(180deg);
}
.flip-card-back {
  display: flex;
  align-items: center;
}
.box-text {
  font-size: clamp(5px, 2vw, 16px); /* Ajuste la taille de la police */
  word-wrap: break-word; /* Assure que les mots longs se cassent à la fin de la ligne */
  overflow-wrap: break-word; /* Assure que les mots longs se cassent à la fin de la ligne */
}

.box-text p {
  font-size: clamp(8px, 2vw, 10px); /* Ajuste la taille de la police pour les paragraphes */
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.box-text ul li {
  font-size: clamp(8px, 2vw, 10px); /* Ajuste la taille de la police pour les éléments de liste */
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.box.clicked .imgs{

  margin-top: -30px;
  transform: rotateY(180deg);
}
.box.clicked .imgs2{

  margin-top: -50px;
  transform: rotateY(180deg);
}
.imgs{
  width: 45%;
  height: 200px;
}
.imgs2{
  width: 60%;
  height: 250px;
}
@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;}
  .animated {
    -webkit-animation: none;
    animation: none;}
  .image-container {
    max-width: 80%;
    margin-bottom: 20px;}
  .boxes-container {width: 100%;}
  .box {width: 80%;}
  .box.clicked {max-width: 50%;}

}


.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #000000;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background:#af3065;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}





/* Media queries for responsive font sizes */
@media (max-width: 768px) {
  .section-title h2 {
    font-size: 28px; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 576px) {
  .section-title h2 {
    font-size: 24px; /* Further adjust font size for even smaller screens */
  }
}


.container2 {
  padding-top: 40px;
  border-radius: 20px;
  background-color: rgba(246, 243, 243, 0.4);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  max-width: 1500px;
  padding-bottom: 30px;
  box-sizing: border-box;
}
.snip1577 {
  border-radius: 50%;
  font-family: 'Montserrat', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
  width: 100%;
  max-width: 230px; /* Maintain a maximum width */
  height: auto; /* Let the height adjust automatically */
  color: black;
  text-align: left;
  font-size: 16px;
  background: rgba(246, 243, 243, 0.4);
  transition: all 0.4s ease;
}

.snip1577 img {
  width: 100%;
  height: auto; /* Maintain aspect ratio */
  transition: all 0.4s ease;
}


.snip1577:before,
.snip1577:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: '';
  background-color: black;
  background-color: black;
  z-index: 1;
  opacity: 0;
}

.snip1577:before {
  width: 0;
  height: 1px;
}

.snip1577:after {
  height: 0;
  width: 1px;
}

.snip1577 figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}

.snip1577 h1,
.snip1577 h4 {
  margin: 0;
  font-size: 0.9em;
  font-weight: normal;
  opacity: 0;
}

.snip1577 h4 {
  font-size: .8em;
  text-transform: uppercase;
}

.snip1577 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1577:hover {
  border-radius: 0%;
  min-width: 30%;
  max-width: 400px;
  min-height: 50%;
  max-height: 300px;
}

.snip1577:hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.2;
  min-width: 100%;
  max-width: 400px;
  min-height: 50%;
  max-height: 300px;
}

.snip1577:hover:before,
.snip1577:hover:after {
  opacity: 1;
  transition-delay: 0.25s;
}

.snip1577:hover:before {
  width: 40px;
}

.snip1577:hover:after {
  height: 40px;
}

.snip1577:hover h1,
.snip1577:hover h4 {
  opacity: 1;
}

.snip1577:hover h1 {
  transition-delay: 0.3s;
  font-size: 20px;
}

.snip1577:hover h4 {
  transition-delay: 0.35s;
}




.nav-item:hover {
  transform: scale(1.05);
}

.circle {
  width: 30px;
  height: 30px;
  border: 2px solid #cb4277;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.circle.filled {
  background-color: #cb4277;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: #3498db;
  color: #fff;
}

/* Common styles for scroll containers */
.scroll-container {
  position: fixed;
  z-index: 100;
}

.scroll-container.vertical {
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.scroll-container.horizontal {
  display: none; /* Hide horizontal scroll container by default */
}

/* Styles for horizontal scroll container */
.scroll-container.horizontal .nav-list-horizontal {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px 0;
}

.scroll-container.horizontal .nav-item {
  flex: 0 0 auto;
  margin: 0 10px;
}

/* Media query to hide vertical and show horizontal scroll containers on small screens */
@media (max-width: 768px) {
  .scroll-container.vertical {
    display: none;
  }

  .scroll-container.horizontal {

    position: fixed;
    top: 10%; /* Ensure top position is set if needed */
    left: 0; /* Ensure left position is set to align properly */
    right: 0; /* Ensure right position is set if needed */

    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;

    z-index: 1000; /* Ensure it is above other elements if needed */
  }
  #item1{margin-top: 50px}

}


.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
  position: relative;
}
.nav-item {
  position: relative;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s;
  margin: 20px 0;
  display: flex;
  align-items: center;
}
.progress-container {
  width: 100%;
  background-color: #f3f3f3;
  position: fixed;
  top: 50px;
  left: 0;
  z-index: 9999;
}

.progress-bar {
  height: 4px;
  background-color: #4caf50;

}

.nav-list::before {
  content: '';
  position: absolute;
  left: 30px;
  top: 0;
  width: 10px;
  background-color: #cb4277;
  z-index: -1;
  transition: background-color 0.3s, height 0.3s;

  height: 100%;


  margin-top: 10px;
}
.nav-list.tall::before {
  height: 80%;
}
.nav-list.tall {
  margin-top: 10px;
  height: 87%;
}

.nav-list.taller::before {
  height: 80%;
}
.nav-list.taller {
  margin-top: 30px;
  height: 60%;
}

.sub-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-around;
}



.circle {
  width: 70px;
  height: 70px;
  border: 2px solid #cb4277;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
  transition: background-color 0.3s;
  position: relative;
  background-color: #cb4277;
}

.bigger-text {
  font-size: 20px;
  color: #af3065;
}

.nav-item:last-child .circle::after {
  display: none;
}

.circle.filled {
  background-color: white;
  width: 90px;
  height: 90px;
  border: 5px solid #cb4277;
}

.nav-link {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: #3498db;
  color: #fff;
}
.bi-info-lg, .bi-cash-coin, .bi-credit-card-2-front-fill {
  font-size: 20px;
  color: white;
}


.inner-circle {
  width: 50px;
  height: 50px;
  border: 5px solid white;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
}
.inner-circle.filled {
  background-color:  #cb4277;
  width: 60px;
  height: 60px;
  border: 10px solid #cb4277;
}
@media (max-width: 1260px) {
  .step-text {
    display: none;
  }
}
