<main class="gx-5 pt-3">
  <div class="d-lg-none d-md-block"><br /><br /><br /></div>
  <div class="pagetitle">
    <h1>Trainings</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">trainings</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  <div class="container d-flex justify-content-center">
    <div class="card shadow-sm h-100 col-md-6">
      <div class="card-body">
        <h1 class="text-center fw-bold mb-3" style="color: #af3065">
          Add Training Program
        </h1>

        <form [formGroup]="trainingForm"
        (ngSubmit)="addTraining()">
          <div class="form-group mb-3">
            <label for="categorie">Categorie</label>
            <select
              name="categorie"
              [formControl]="CategoryForm"
              class="form-select"
              id="categorie"
              aria-label="Default select example"
            >
              <option value="" disabled>Select a category</option>
              <option
                *ngFor="let category of tabCategorie"
                [value]="category.id"
              >
                {{ category.nomCate }}
              </option>
            </select>
            <mat-error *ngIf="CategoryForm.invalid">{{getCategoryFormError()}}</mat-error>
          </div>

          <div class="form-group mb-3">
            <label for="name">Name of the training</label>
            <input
              name="name"
              type="text"
              [formControl]="NomForm"
              class="form-control"
              id="name"
              placeholder="Web..."
            />
            <mat-error *ngIf="NomForm.invalid">{{getNomFormError()}}</mat-error>
          </div>

          <div class="form-group mb-3">
            <label for="description">Description</label>
            <textarea
              name="description"
              [formControl]="DescriptionForm"
              class="form-control"
              id="description"
              rows="3"
            ></textarea>
            <mat-error *ngIf="DescriptionForm.invalid">{{getDescriptionFormError()}}</mat-error>
          </div>

          <div class="form-group mb-3">
            <label for="nbExercices">Number of exercises</label>
            <input
              name="nbExercices"
              type="text"
              [formControl]="ExerciseForm"
              class="form-control"
              id="nbExercices"
              placeholder=""
            />
            <mat-error *ngIf="ExerciseForm.invalid">{{getExerciseFormError()}}</mat-error>
          </div>

          <div class="form-group mb-3">
            <label for="nbProjects">Number of projects</label>
            <input
              name="nbProjects"
              type="text"
              [formControl]="ProjectsForm"
              class="form-control"
              id="nbProjects"
              placeholder=""
            />
            <mat-error *ngIf="ProjectsForm.invalid">{{getProjectsFormError()}}</mat-error>
          </div>

          <div class="form-group mb-3">
            <label for="nbMeetings">Number of meetings</label>
            <input
              name="nbMeetings"
              type="text"
              [formControl]="MeetingsForm"
              class="form-control"
              id="nbMeetings"
              placeholder=""
            />
            <mat-error *ngIf="MeetingsForm.invalid">{{getMeetingsFormError()}}</mat-error>
          </div>

          <div class="form-group mb-3">
            <label for="nbChapters">Number of chapters</label>
            <input
              name="nbChapters"
              type="text"
              [formControl]="ChaptersForm"
              class="form-control"
              id="nbChapters"
              placeholder=""
            />
            <mat-error *ngIf="ChaptersForm.invalid">{{getChaptersFormError()}}</mat-error>
          </div>
          <div class="form-group mb-3">
            <label for="workspaces">Number of workspaces</label>
            <input
              name="workspaces"
              type="text"
              [formControl]="WorkspacesForm"
              class="form-control"
              id="workspaces"
              placeholder=""
            />
            <mat-error *ngIf="WorkspacesForm.invalid">{{getWorkspacesFormError()}}</mat-error>
          </div>
          <div class="form-group mb-3">
            <label for="posibility">Possibility</label>
            <select
              name="posibility"
              [formControl]="PossibilityForm"
              id="posibility"
              class="form-select"
            >
              <option disabled selected>Select Possibility</option>
              <option value="Possibility of online education">
                Possibility of online education
              </option>
              <option value="No Possibility of online education">
                No Possibility of online education
              </option>
            </select>
            <mat-error *ngIf="PossibilityForm.invalid">{{getPossibilityFormError()}}</mat-error>
          </div>
          <div class="form-group mb-3">
            <label for="startDate">Start Date</label>
            <input
              name="startDate"
              type="date"
              [formControl]="StartDateForm"
              class="form-control"
              id="startDate"
            />
            <mat-error *ngIf="StartDateForm.invalid">{{getStartDateFormError()}}</mat-error>
          </div>

          <div class="form-group mb-3">
            <label for="price">Price</label>
            <input
              name="price"
              type="text"
              [formControl]="PriceForm"
              class="form-control"
              id="price"
              placeholder="Enter the price"
            />
            <mat-error *ngIf="PriceForm.invalid">{{getPriceFormError()}}</mat-error>
          </div>


          <div class="text-end">
            <div
              class="modal"
              tabindex="-1"
              role="dialog"
              [ngClass]="{ 'd-block': showSuccessModal }"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Success</h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                      (click)="showSuccessModal = false"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>{{ successMessage }}</p>
                  </div>
                  <div class="modal-footer">
                    <button
                      type="button"
                      class="btn btn-primary"
                      (click)="handleOKClick()"
                    >
                      OK
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <button
              type="button"
              id="cancel"
              name="cancel"
              class="btn btn-light"
              style="border-radius: 5px"
              routerLink="/admin/trainings"
            >
              Cancel
            </button>
            <button
              type="submit"
              id="submit"
              name="submit"
              class="btn"
              style="
                background-color: #af3065;
                color: white;
                border-radius: 5px;
              "
            >
              Add
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
<!-- End #main -->
