:root {
    scroll-behavior: smooth;
  }

  main {
    font-family: "Open Sans", sans-serif;
    background: #f5f7f9;
    color: #444444;
    height: 100vh;

  }

  @media (min-width: 991.98px) {
    main {
      padding-left: 300px;

    }
  }
  /*
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #af3065;
  border-radius: 2.5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #AF3065;
}*/
  .expired {
    color: grey;
    opacity: 0.5;
  }
  a {
    color: #01130b;
    text-decoration: none;

  }

  a:hover {
    color: #AF3065;
    text-decoration: none;
  }
  a:active{
    color: #AF3065;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Nunito", sans-serif;
  }


  /*--------------------------------------------------------------
  # Main
  --------------------------------------------------------------*/
  #main {

    padding: 20px 30px;
    transition: all 0.3s;
  }

  @media (max-width: 1199px) {
    #main {
      padding: 20px;
    }
  }

  /*--------------------------------------------------------------
  # Page Title
  --------------------------------------------------------------*/
  .pagetitle {
    margin-bottom: 10px;
  }

  .pagetitle h1 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    color: #000000;
  }
  .card {
    background: #ffffff;
    padding: 50px;
    border-radius: 5px;
    border: 0;
    margin-bottom: 1rem;
  }


  .cource-details-tabs {

    padding-top: 0;
  }

  .cource-details-tabs .nav-tabs {
    border: 0;
  }

  .cource-details-tabs .nav-link {
    border: 0;
    padding: 12px 15px 12px 0;
    transition: 0.3s;
    color: #000000;
    border-radius: 0;
    border-right: 2px solid #e2e7e4;
    font-weight: 600;
    font-size: 15px;
  }


  .cource-details-tabs .date:hover {
    color: #AF3065;
  }

  .cource-details-tabs .nav-link.active {
    color: #AF3065;
    border-color: #AF3065;
    background-color: #ffffff;
  }
.button{
  background-color: #AF3065; border-radius: 5px;
}

main {
  font-family: "Open Sans", sans-serif;
  background: #f5f7f9;
  color: #444444;
  height: 100vh;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 300px;
  }
}
/*
::-webkit-scrollbar {
width: 5px;
}
::-webkit-scrollbar-track {
background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
background: #af3065;
border-radius: 2.5px;
}
::-webkit-scrollbar-thumb:hover {
background: #AF3065;
}*/
.expired {
  color: grey;
  opacity: 0.5;
}
a {
  color: #01130b;
  text-decoration: none;
}

a:hover {
  color: #af3065;
  text-decoration: none;
}
a:active {
  color: #af3065;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}

/*--------------------------------------------------------------
# Page Title
--------------------------------------------------------------*/
.pagetitle {
  margin-bottom: 10px;
}

.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #000000;
}
.card {
  background: #ffffff;
  padding: 50px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}

.cource-details-tabs {
  padding-top: 0;
}

.cource-details-tabs .nav-tabs {
  border: 0;
}

.cource-details-tabs .nav-link {
  border: 0;
  padding: 12px 15px 12px 0;
  transition: 0.3s;
  color: #000000;
  border-radius: 0;
  border-right: 2px solid #e2e7e4;
  font-weight: 600;
  font-size: 15px;
}

.cource-details-tabs .date:hover {
  color: #af3065;
}

.cource-details-tabs .nav-link.active {
  color: #af3065;
  border-color: #af3065;
  background-color: #ffffff;
}
.button {
  background-color: #af3065;
  border-radius: 5px;
}
.button:hover {
  background-color: #d8208e;
}
/* Breadcrumbs */
.breadcrumb {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #899bbd;
  font-weight: 600;
}

.breadcrumb a {
  color: #899bbd;
  transition: 0.3s;
}

.breadcrumb a:hover {
  color: #51678f;
}

.breadcrumb .breadcrumb-item::before {
  color: #899bbd;
}

.breadcrumb .active {
  color: #51678f;
  font-weight: 600;
}
