<section id="hero" class=" d-flex align-items-center" style="margin-top: 90px;">

  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1>Up Your <span style="color:#AF3065">Skills</span> <br>To <span style="color:#AF3065">Advance</span> Your<br><span style="color:#AF3065">Career</span> Path</h1>
        <h2>Provides you with the latest online learning system and material that help your knowledge growing.</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a routerLink="signup" class="btn register scrollto ">Get Started</a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="assets/img/hero-img.png" class="img-fluid animated" alt="">
      </div>
    </div>
  </div>

</section><!-- End Hero -->



  <!-- ======= Clients Section ======= -->
  <section id="clients" class="clients section-bg mb-5">
    <div class="container">

      <div class="row">

        <div class="col-lg-3 col-md-4  d-flex align-items-center justify-content-center">
         <img src="assets/img/clients/main1.png" class="img-fluid " alt="" style="width: 30px;" > <span class="fw-bold ms-3">Public-Speaking </span>
        </div>

        <div class="col-lg-3 col-md-4  d-flex align-items-center justify-content-center">
          <img src="assets/img/clients/main2.png" class="img-fluid " alt="" style="width: 30px;" > <span class="fw-bold ms-3">Career-Oriented</span>
         </div>

         <div class="col-lg-3 col-md-4  d-flex align-items-center justify-content-center">
          <img src="assets/img/clients/main.png" class="img-fluid " alt="" style="width: 30px;" > <span class="fw-bold ms-3">Creative-Thinking </span>
         </div>

      </div>

    </div>
  </section><!-- End Cliens Section -->

