:root {
  scroll-behavior: smooth;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 320px;
  }
}
a {
  color: #01130b;
  text-decoration: none;
}

a:hover {
  color: #af3065;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif;
}
/*--------------------------------------------------------------
  # Main
  --------------------------------------------------------------*/
#main {
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}
/*--------------------------------------------------------------
  # Page Title
  --------------------------------------------------------------*/
.pagetitle {
  margin-bottom: 10px;
}
.pagetitle h1 {
  font-size: 24px;
  margin-bottom: 0;
  font-weight: 600;
  color: #000000;
}
.card {
  background: #ffffff;
  padding: 5px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}
.stat {
  background: linear-gradient(
    90.21deg,
    #f2a89d 0.19%,
    #e585a5 41.65%,
    #e071a9 79.12%,
    #bc78c1 99.92%
  );
  box-shadow: 6px 7px 25px rgba(130, 130, 130, 0.25);
  padding: 50px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 1rem;
}
main {
  font-family: "Open Sans", sans-serif;
  background: #f5f7f9;
  color: #444444;
  height: 500%;
}

/* Breadcrumbs */
.breadcrumb {
  font-size: 14px;
  font-family: "Nunito", sans-serif;
  color: #899bbd;
  font-weight: 600;
}
.breadcrumb a {
  color: #899bbd;
  transition: 0.3s;
}

.breadcrumb a:hover {
  color: #51678f;
}

.breadcrumb .breadcrumb-item::before {
  color: #899bbd;
}

.breadcrumb .active {
  color: #51678f;
  font-weight: 600;
}
.comment {
  overflow-y: scroll;
  height: 100px;
}
.custom-icon-position {
  /* Adjust the margin-left value as per your requirement */
  margin-left: 10px;
}
