
 <!-- ======= forgot password Section ======= -->
 <section id="forgotpassword" class="forgotpassword" style="margin-top: 140px; margin-bottom: 130px;">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-5 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
            <h1 class="text-center">New password</h1>
            <h5 class="text-center mb-3 mt-3">Please entre the new password and<br> Make sue you remembre it </h5>
              <form action="" method="post" role="form" class="php-email-form">
                <div class="form__group field">
                  <input [(ngModel)]="pass1" type="input" class="form__field" placeholder="email" name="New Password" id='New Password' required />
                  <label for="New Password" class="form__label">New Password</label>
                </div>
                <div class="form__group field">
                  <input  [(ngModel)]="pass2" type="input" class="form__field" placeholder="Password" name="Confirm password" id='Confirm password' required />
                  <label for="Confirm password" class="form__label">Confirm password</label>
                </div>
              <div class="mt-5 text-center"><button class="col-lg-5 mt-2 register btn" type="submit" (click)="Change()">Save</button></div>
            </form>
          
        </div>
        <div class="col-lg-4 order-1 order-lg-2 photo" data-aos="zoom-in" data-aos-delay="200">
          <img src="Forgot password-cuate.png" class="img-fluid w-75" alt="">
        </div>
      </div>
    </div>

  </section><!-- End forgot password -->







