<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white" id="navbarCollapse">
    <div class="position-sticky" style="max-height: calc(100vh - 56px); overflow-y: auto;">
      <a class="navbar-brand ms-5  d-lg-block d-none" href="#">
        <img

             src="assets/img/9antrakids.png"
             height="30"
             alt=""
             loading="lazy"
             />
      </a>
      <div class="mt-4 border-bottom border-top py-3" *ngIf="data">
        <div class="nav-profile d-flex align-items-center ms-4 pe-0">
          <img src="assets/Documents/{{photo}}" alt="Profile" width="50px" height="50px" class="rounded-circle">
          <a [routerLink]="['/student/profile']" class="ps-2 fw-bold black-text linkable-text"> <br>{{username}}</a>
          <a class="ps-4" routerLink="profile/Edit"><i class="btn bi bi-gear"></i></a>
        </div>
        <a class="ps-4" routerLink="/" style="color:#d92a72">Welcome page <i class="bi bi-arrow-return-left"></i></a>
      <!-- End Profile Iamge Icon --></div>
      <div class="list-group list-group-flush mx-3 mt-5">
        <a
           [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact:true}"  routerLink="/student"
           class="list-group-item list-group-item-action py-3 "
           data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse"
           aria-current="true"
           >
          <i class="fa-solid fa-house fa-fw me-3"></i
            ><span>Home</span>
        </a>
        <a
            [routerLinkActive]="'active'"   routerLink="calendar"
            data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse"
           class="list-group-item list-group-item-action py-3  "
           >
           <i class="fa-solid fa-calendar fa-fw me-3"></i><span>Calendar</span>
        </a>

        <a
        class="list-group-item list-group-item-action py-2 "
        aria-current="true"
        data-bs-toggle="collapse"
        data-bs-target="#collapseFilter"
        href="#collapseExample1"
        aria-expanded="true"
        aria-controls="collapseExample1"
      >
      <i class="fa-solid fa-repeat me-3"></i><span class="me-5">Messages</span><i class="fa-solid fa-sort-down ms-5 mb-2"></i>
        </a>
      <!-- Collapsed content -->
      <ul id="collapseFilter" class="collapse  list-group list-group-flush">
        <li class="list-group-item ">
          <a routerLink="chatAll" [routerLinkActive]="'active'" class="list-group-item list-group-item-action" data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse">All</a>
        </li>
        <li class="list-group-item " *ngFor="let group of groups">
          <a routerLink="chat/{{group.id}}" [routerLinkActive]="'active'" class="list-group-item list-group-item-action" data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse">{{group.groupName}}</a>
        </li>
      </ul>
      <!-- /Collapsed content -->
        <a
        [routerLinkActive]="'active'"   routerLink="records"
        data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse"
           class="list-group-item list-group-item-action py-3 "
           ><i class="fa-solid fa-play fa-fw me-3"></i><span>Records</span></a
          >
        <a
        [routerLinkActive]="'active'"   routerLink="projects"
           class="list-group-item list-group-item-action py-3 "
           data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse"
           >
           <i class="fa-solid fa-folder fa-fw me-3"></i><span>Projects</span>
        </a>
        <a
        [routerLinkActive]="'active'"   routerLink="FeedBack"
           class="list-group-item list-group-item-action py-3 "
           data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"

           >
           <i class="fa-solid fa-folder fa-fw me-3"></i><span>FeedBack</span>
        </a>
        <a
        [routerLinkActive]="'active'"   routerLink="forum"
           class="list-group-item list-group-item-action py-3 "
           data-bs-toggle="collapse"
            data-bs-target="#navbarCollapse"

           >
           <i class="fa-solid fa-message fa-fw me-3"></i><span>Forum</span>
        </a>
        <a
          [routerLinkActive]="'active'"
          data-bs-toggle="collapse"
          data-bs-target="#navbarCollapse"
          routerLink="student-quiz"
          class="list-group-item list-group-item-action py-3"
          ><i class="bi bi-joystick fa-fw me-3"></i><span>Quiz</span></a
        >
        <a
        (click)="logout()"

           class="list-group-item list-group-item-action border-top " style="margin-top: 20px;cursor: pointer;"
           ><i class="fa-solid fa-arrow-right-from-bracket fa-rotate-180 fa-fw me-3"></i><span>LogOut</span></a
          >

      </div>
    </div>

  </nav>
  <!-- Sidebar -->

  <!-- Navbar -->
  <nav
       id="main-navbar"
       class="navbar navbar-expand-lg navbar-light bg-white fixed-top d-block d-lg-none"
       >
    <!-- Container wrapper -->
    <div class="container-fluid">
      <!-- Toggle button -->
      <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarCollapse"
              >
              <img src="assets/img/menu.png" class="w-10" alt="">
      </button>

      <!-- Brand -->
      <a class="navbar-brand ms-5 mt-2" href="#">
        <img
        style="padding-right: 40px;"
             src="assets/img/logo1.png"
             height="30"
             alt=""
             loading="lazy"
             />
      </a>

      <!-- Right links -->

    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
</header>
<!--Main Navigation-->

<!--Main layout-->

<!--Main layout-->
