<section id="hero" class=" d-flex align-items-center" style="margin-top: 90px; margin-bottom: 50px;">

  <div class="container">
    <div class="row mt-5">
      <div class="col-lg-5 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
        <h1>Up Your <span style="color:#AF3065">Skills</span> <br>To <span style="color:#AF3065">Advance</span> Your<br><span style="color:#AF3065">Career</span> Path</h1>
        <h2>Provides you with the latest online learning system and material that help your knowledge growing.</h2>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="https://9antra_kids.tn/"  target="_blank" rel="noopener noreferrer"class="ms-2" class="btn register scrollto ">Join Now </a>
        </div>
      </div>
      <div class="col-lg-7 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
        <img src="assets/img/clipboard-image-18.png" class="img-fluid animated" width="1200" alt="">
      </div>
    </div>
    <!-- <div class="row">
      <div class="section-title">
        <h2>Our Events</h2>
      </div>
    </div> -->
  </div>

</section><!-- End Hero -->

<div class="ml-4">
  <app-course-list></app-course-list>
</div>
<div>
  <app-help></app-help>
</div>
