<main>
  <div class="d-lg-none d-md-block"><br><br><br></div>
  <div class="pagetitle">
    <h1>View Candidacy</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->


  
  <br>
  <br>
  <div class="select-container">
    <div class="d-inline-flex mr-2">
      <select class="form-select form-select-sm mb-3" [(ngModel)]="selectedType" (change)="onTypeChange()">
        <option value="">All Types</option>
        <option value="Full-time">Full-time</option>
        <option value="Contract">Contract</option>
        <option value="Part-time">Part-time</option>
        <option value="Temporary">Temporary</option>
        <option value="Internship">Internship</option>
        <option value="Freelance">Freelance</option>
        <option value="On-site">On-site</option>
      </select>
    </div>
  
    <div class="d-inline-flex mr-2">
      <select class="form-select form-select-sm mb-3" [(ngModel)]="selectedEducation" (change)="onEducationChange()">
        <option value="">All Education levels</option>
        <option value="High School Degree">High School Degree</option>
        <option value="Associate's Degree">Associate's Degree</option>
        <option value="Bachelor's Degree">Bachelor's Degree</option>
        <option value="Master's Degree">Master's Degree</option>
        <option value="Doctoral Degree">Doctoral Degree</option>
      </select>
    </div>
  
    <div class="d-inline-flex mr-2">
      <select class="form-select form-select-sm mb-3" [(ngModel)]="selectedExp" (change)="onExpChange()">
        <option value="">All Experience levels</option>
        <option value="Mid Level">Mid Level</option>
        <option value="Senior Level">Senior Level</option>
        <option value="Entry Level">Entry Level</option>
        <option value="No Experience Required">No Experience Required</option>
      </select>
    </div>
  
    <div class="d-inline-flex mr-2">
      <select class="form-select form-select-sm mb-3" aria-label=".form-select-sm example" [(ngModel)]="selectedSortOrder" (change)="onSortOrderChange()">
        <option value="asc">Sort by Date (Ascending)</option>
        <option value="desc">Sort by Date (Descending)</option>
      </select>
    </div>
  </div>
  <div class="data_table card1 mt-4 " style="overflow-y: scroll; height:600px;">
    

    <table class="table align-middle mb-0 bg-white  ">
        <thead class="bg-light ">
          <tr >
            <th>Date</th>

<th>Nom</th>

            <th>Prenom</th>
         
            <th>Email</th>
            <th>Phone</th> 
            <!-- <th>Lettre de motivation</th>

            <th>Domain</th>

            <th>Type</th>
            <th>CV</th> -->


  
          </tr>
        </thead>
        <tbody>
        
          <tr  *ngFor="let project of adminProjects"
          >
        
          <td> <p class="fw-normal mb-1">{{ project.date | date: 'dd/MM/yy HH:mm' }}</p>
            
           
            <td>
              <p  class="fw-normal mb-1">{{ project.nom  ? project.nom : '_'  }}</p>
            </td>
            <td>
              <p class="fw-normal mb-1">{{ project.prenom ? project.prenom : '_'   }}</p>
            </td>
            <td>
              <p class="fw-normal mb-1">{{ project.email ? project.email : '_'   }}</p>
            </td>
            
<!--            
                            <td>
                              <p class="fw-normal mb-1" *ngIf="project.email">
                                <a href="mailto:{{ project.email }}" (click)="copyEmail(project.email)" style="color: blue;">{{ project.email }}</a>
                              </p>
                              <p class="fw-normal mb-1" *ngIf="!project.email">_</p>
                            </td> -->
                             <td>
              <p class="fw-normal mb-1">{{ project.numtel ? project.numtel : '_'   }}</p>
            </td>
            <!-- <td>
              <p class="fw-normal mb-1">{{ project.lettre ? project.lettre : '_'   }}</p>
            </td>
            <td>
              <p class="fw-normal mb-1">{{ project.experience ? project.experience : '_'   }}</p>
            </td>
            <td>
              <p class="fw-normal mb-1">{{ project.education ? project.education : '_'   }}</p>
            </td>
            <td>
              <p class="fw-normal mb-1">{{ project.type ? project.type : '_'   }}</p>
            </td> -->
         <!-- <td>
          <button class="btn btn-primary" (click)="viewCV(project.cv)">View CV</button>

          </td> -->
            <td>
            <div class="d-flex justify-content-between">
            
            </div>
          </td>
<!--              </td> 
          <td><div class="form-check form-switch">
            <input *ngIf="!project.status" [disabled]="isUpdating" (click)="updateComplaintAndSendEmail(project)"   (click)="onCheckboxClick($event)"class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
            <label class="form-check-label" for="flexSwitchCheckDefault"></label>
          </div></td>     -->
<!--                 
  
  
  <td>
    <button class="btn btn-success btn-circle" (click)="clientProject(project.id)">
      <span class="bi bi-eye"></span>
    </button>
  </td> -->
  
  
  <td>
    <button class="btn btn-success btn-circle" (click)="clientProject(project.id)">
      <span class="bi bi-eye"></span>
    </button>
  </td>
  
  
  
          </tr>
          <tr *ngIf="adminProjects.length === 0">
            <td colspan="5" class="text-center">No candidacy found</td>
          </tr>
        </tbody>
  
      </table>
    </div>
  

</main><!-- End #main -->
