body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #47b2e4;
  text-decoration: none;
}

a:hover {
  color: #73c5eb;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Jost", sans-serif;
}

#header {
  padding: 0px 0;
  background-color: #fff;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(255, 255, 255, 0.9);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #000000;
}
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #FAB555;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}
#clients {
  width: 95%;
  background: #F8F8F8;
  border-radius: 0px 0px 26px 26px;
  margin: auto;




}
.clients {
  padding: 12px 0;

}

.clients img {
  max-width: 100%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
}


@media (max-width: 768px) {
  .clients img {
    max-width: 40%;
  }
}
.skills .content h3 {
  font-weight: 700;
  font-size: 32px;
  color: #AF3065;
  font-family: "Poppins", sans-serif;
}
.skills img {
  max-width: 100%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
}

@media (max-width: 991px) {
  #skills img {
    width: 50%;

  }
}
@media (max-width: 991px) {
  #skills .photo {

    text-align: center;
  }
}
.register {
  font-family: "Jost", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px 11px 28px;
border-radius: 5px;
  transition: 0.5s;
  margin: 10px 0 0 0;
  color: #fff;
  background: #AF3065;

}
.register:hover {
  color: #fff;
  background: #d8208e;
}

#inscription {
  background-color: #F8F8F8;
}

.form__group {
  position: relative;
  padding: 15px 30px 0;
  margin-top: 10px;

}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #383838;
  outline: 0;
  font-size: 1.3rem;
  color: #595959;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.form__field::placeholder {
  color: transparent;
}


.form__field:placeholder-shown ~ .form__label {
  font-size: 1.2rem;
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1.3rem;
  color: #505050;
}


.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #000000;
  font-weight: 700;
}

