<main class="pt-4">
  <div style="margin-bottom: 50px; " class="d-block d-lg-none"> </div>
  <div class="row justify-content-between">
      <div class="col-8">
          <div class="pagetitle">
              <h1>Resume of {{nameuser}}</h1>
              <nav>
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="index.html">Coach List</a></li>
                      <li class="breadcrumb-item active">Coach resume</li>
                  </ol>
              </nav>
          </div>
      </div>
      <div class="data_table card1 mt-4 " >
          <div class="embed-responsive embed-responsive-21by9" >
              <iframe class="embed-responsive-item"[src]="safeUrl" style="height:600px !important; width: 1125px !important;"></iframe>
          </div>
      </div>

  </div>
</main>

